body,
html,
.container
{
    height: 100%;
    margin: 0;
    padding: 0;
}
.container
{
    align-items: stretch;
}
#map
{
    height: 100%;
}
.filter-bar
{
    display: inline-block;
    float: left;

    width: 25%;
    height: 100%;

    border-width: 0 3px 0 0;
    border-style: solid;
    border-color: white;
    background-color: #021f32;

    overflow: auto;
}
.nav-bar
{
	position: fixed;
    border-width: 0 0 3px 0;
    border-style: solid;
    border-color: white;
    background-color: #021f32;
    z-index: 1;
}
li
{
    color: white;
}
.salesman
{
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: bold;

    margin-left: auto;

    color: white;
}

/*
input
{
    margin: 5px 1px 3px 0;
    padding: 3px 0 3px 3px;

    transition: all .30s ease-in-out;

    border: 1px solid #ddd;
    outline: none;
}
input:focus,
input:hover
{
    margin: 5px 1px 3px 0;
    padding: 3px 0 3px 3px;

    border: 1px solid rgba(81, 203, 238, 1);
    box-shadow: 0 0 7px rgba(81, 203, 238, 1);
}
input,
select,
textarea
{
    color: #f00;
}
*/

.green
{
    background-color: green;
}
#locations{

	list-style-type: none;	
    font-family: 'Montserrat';
	top: 60px;
	position: relative;
	display: block;
}